:root {
  --brand-color-accent: #2196f3;
  --hovered-activated-accent-color: #2196f3;
  --footer-background-color-dark: #2f303a;
  --accents-background-color-gray: #f5f4fa;
  --main-background-color: #fff;
  --light-font-color: #fff;
  --secondary-accent-color: #757575;
  --primary-font-color: #212121;
  --brand-color-black: #000;
  --brand-color-white: #fff;
  --header-border-bottom-color: #ececec;
  --socials-icon-main-color: #afb1b8;
  --customers-section-accent-color: #afb1b8;
  --footer-icons-background-color: rgba(255, 255, 255, 0.1);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --comment-placeholder-color: rgba(117, 117, 117, 0.5);
  --background-filtered-description: #eee;
  --background-filtered-hover-content: rgba(33, 150, 243, 0.9);
  --font-roboto: 'Roboto';
  --font-logo-raleway: 'Raleway';
}

.body {
  font-family: var(--font-roboto), var(--font-logo-raleway), sans-serif;
  background: var(--main-background-color);
  color: var(--primary-font-color);
}
.text-decoration-none {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav__link--current:visited {
  color: var(--hovered-activated-accent-color);
  position: relative;
}
.nav__link--current::after {
  content: '';
  position: relative;
  display: block;
  top: 29px;
  border-bottom: 4px solid var(--hovered-activated-accent-color);
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding-block: 24px;
}
.main-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: var(--font-logo-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  vertical-align: middle;
  color: var(--brand-color-black);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__static-part {
  color: var(--brand-color-accent);
}
.logo--enlarged-space-in-header {
  flex-grow: 0.21;
}
.logo:hover,
.logo:focus {
  color: var(--hovered-activated-accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav {
  display: flex;
  flex-grow: 0.8;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 46px;
  padding-left: 0px;
  padding-block: 0px;
  margin-block: 0px;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--hovered-activated-accent-color);
  fill: var(--hovered-activated-accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  padding-block: 0px;
  margin-block: 0px;
  gap: 30px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  fill: var(--secondary-accent-color);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__icon {
  margin-right: 10px;
}
.contacts-list__link:hover,
.contacts-list__link:focus {
  fill: var(--hovered-activated-accent-color);
  color: var(--hovered-activated-accent-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-top {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0px auto;
  background: var(--footer-background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-background-photo.jpg);
  max-width: 1600px;
}
.section-top__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-font-color);
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 696px;
}
/* .section-top-division {
  display: flex;
} */
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--light-font-color);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding-block: 10px;
  padding-left: 42px;
  padding-right: 41px;
}
.button--newsletter-icon-fitting {
  padding-right: 28px;
}
.button__icon--end {
  margin-left: 24px;
}
.button--order-button-widening {
  padding-inline: 76px;
}
.content-division {
  padding-bottom: 0px;
}
.hidden {
  display: none;
}

.market-segments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding-left: 0px;
  margin-block: 0px;
}
.market-segments-list__icon-background {
  max-width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accents-background-color-gray);
  border-radius: 4px;
  margin-bottom: 30px;
}
.market-segments-list__icon {
  width: 70px;
  height: 70px;
}
.market-segments-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
  margin-block: 0px;
  padding-bottom: 10px;
}
.market-segments-list__description {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
  margin-block: 0px;
}
.section-subjects {
  background-color: inherit;
}

.section-subjects__header {
  text-align: center;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-block: 0px;
}

.img-gallery-with-descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.img-gallery-with-descriptions__container {
  position: relative;
  overflow: hidden;
}
.img-gallery-with-descriptions__img {
  display: block;
}
.img-gallery-with-descriptions__title {
  color: var(--light-font-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  padding-block: 27px;
  width: 100%;
  margin: 0px;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: var(--accents-background-color-gray);
}
.section-team__header {
  text-align: center;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-block: 0px;
}
.section-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin-block: 0px;
  padding-left: 0px;
}

.team-member-card {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
.team-member-card__photo {
  max-width: 270px;
  height: 260px;
  display: block;
}
.team-member-card__name {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-block: 0px;
}
.team-member-card__profession {
  text-align: center;
  padding-bottom: 16px;
  margin-block: 0px;
}
.socials-division--team-member-card-positioning {
  padding: 0px;
  margin: 0px 32px 30px 32px;
  border: 0px;
}
.socials-division__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
}
.socials-division__list-element {
  display: flex;
  border-radius: 50%;
}
.socials-division__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--socials-icon-main-color);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-division__icon {
  fill: inherit;
  width: 20px;
  height: 20px;
}
.socials-division__link:hover,
.socials-division__link:focus {
  fill: var(--brand-color-white);
  background: var(--hovered-activated-accent-color);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-customers {
  display: flex;
  gap: 2.4%;
}
.section-customers__header {
  text-align: center;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-block: 0px;
}
.companies-logos-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-inline: 0px;
  margin: 0px;
}
.companies-logos-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 168px;
  height: 90px;
  border: 1px solid var(--customers-section-accent-color);
  fill: var(--customers-section-accent-color);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-logos-list__link:hover,
.companies-logos-list__link:focus {
  border-color: var(--hovered-activated-accent-color);
  fill: var(--hovered-activated-accent-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--footer-background-color-dark);
  padding-top: 60px;
  padding-bottom: 51px;
}
.footer-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 70px;
}
.footer-division {
  display: flex;
  flex-direction: column;
}
.logo--change-color-in-footer {
  color: var(--light-font-color);
}
.address-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.address-container__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--light-font-color);
  padding-top: 20px;
  padding-bottom: 9px;
  margin-block: 0px;
}
.address-container__contacts-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 9px;
  margin: 0px;
  padding-left: 0px;
}

.address-container__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-container__link:hover,
.address-container__link:focus {
  color: var(--hovered-activated-accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-socials {
  display: inline-block;
  padding: 0px;
}
.footer-section-socials__header {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 20px;
  color: var(--light-font-color);
}

.socials-division__link--footer-background-changing {
  background: var(--footer-icons-background-color);
}
.socials-division__icon--change-footer-fill {
  fill: var(--brand-color-white);
}

.newsletter-division {
  display: inline-flex;
  align-items: flex-start;
}

.newsletter-division__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0px;
  margin-block: 0px;
  margin-right: 0px;
  margin-left: 8px;
  align-items: flex-end;
}
.newsletter-division__label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  color: var(--light-font-color);
}
.newsletter-division__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  padding-block: 15px;
  color: var(--light-font-color);
  margin: 0px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-division__input:hover,
.newsletter-division__input:focus {
  border: 1px solid var(--hovered-activated-accent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-division__icon {
  width: 24px;
  height: 24px;
  fill: var(--brand-color-white);
  margin-left: 24px;
}

/* **************************************** */
/* **************************************** */

/*              PORTFOLIO PAGE */

/* **************************************** */
/* **************************************** */

.section-portfolio {
  margin: 0px auto;
  padding-left: 0px;
}
.buttons-filter-division {
  padding-bottom: 34px;
}
.buttons-filter-division__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-block: 0px;
  padding-left: 0px;
  padding-bottom: 16px;
}
.filter-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6px 22px;
  background: var(--accents-background-color-gray);
  border-radius: 4px;
  border: 0px;
  color: var(--primary-font-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition-property: box-shadow, background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button--selected {
  background: var(--brand-color-accent);
  border-radius: 4px;
  color: var(--light-font-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:hover,
.filter-button:focus {
  background: var(--brand-color-accent);
  border-radius: 4px;
  color: var(--light-font-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-division {
  padding-left: 0px;
  margin-block: 0px;
}
.portfolio-cards-division__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0px;
  margin-block: 0px;
  flex-wrap: wrap;
}
.portfolio-cards-division__list-element {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.portfolio-cards-division__list-element:hover,
.portfolio-cards-division__list-element:focus,
.portfolio-cards-division__list-element:hover .portfolio-card__box-overlay,
.portfolio-cards-division__list-element:focus .portfolio-card__box-overlay {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateX(0);
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__box-img {
  width: 370px;
  height: 294px;
  display: block;
}

.portfolio-card__animated-box {
  display: block;
  max-height: 294px;
  max-width: 370px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}
.portfolio-card__box-overlay {
  position: absolute;
  padding: 49px 45px 49px 24px;
  margin: 0px;
  background: var(--background-filtered-hover-content);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__box-overlay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.03em;
  color: var(--light-font-color);
}

.portfolio-card__details-part {
  border: 1px solid var(--background-filtered-description);
}
.portfolio-card__project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
  margin-block: 0px;
}
.portfolio-card__project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding: 0px 24px 20px 24px;
  margin-block: 0px;
}

/* **************************************** */
/* **************************************** */

/*              Modal Window */

/* **************************************** */
/* **************************************** */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-background-color);
  opacity: inherit;
  visibility: inherit;
  scale: inherit;
  transition-property: visibility, scale, border, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__container {
  box-sizing: border-box;
  padding: 40px 40px;
  margin: 0 auto;
}

.closing-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--brand-color-black);
  padding: 6px;
  margin: 0px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.closing-button:hover {
  background-color: var(--brand-color-black);
  fill: var(--main-background-color);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__division {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.order-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  margin-block: 0px;
  padding-top: 2px;
  padding-bottom: 12px;
}
.order-form__label-description {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-accent-color);
  padding: 0px;
  margin: 0px;
}
.order-form__label {
  position: relative;
  cursor: text;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px;
  margin-top: 0px;
  margin-inline: 0px;
  margin-bottom: 6px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input {
  width: 446px;
  height: 38px;
  border: 0px;
  background-color: transparent;
  border-radius: inherit;
  padding-left: 42px;
  padding-block: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.order-form__label-terms {
  display: flex;
  justify-content: center;
  margin-inline: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px;
}

.order-form__comment-textarea {
  width: 446px;
  height: 118px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border: 0px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.order-form__comment-textarea::placeholder {
  color: var(--comment-placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.order-form__link {
  color: var(--brand-color-accent);
}
.order-form__terms-span {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
  position: relative;
}
.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--brand-color-black);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: text;
}
.order-form__label:hover,
.order-form__label:focus {
  border: 1px solid var(--hovered-activated-accent-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__label:hover .order-form__icon,
.order-form__label:focus-within .order-form__icon {
  fill: var(--hovered-activated-accent-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__checkbox-icon {
  cursor: pointer;
  position: absolute;
  fill: var(--brand-color-white);
  top: 4px;
  transform: scale(1);
  left: -21px;
  border: 2px solid var(--brand-color-black);
  border-radius: 2px;
  transition-property: fill, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input-checkbox {
  visibility: hidden;
}
.order-form__input-checkbox:checked + .order-form__terms-span .order-form__checkbox-icon {
  fill: var(--hovered-activated-accent-color);
  border: 0px;
  padding: 0px;
  margin: 0px;
  transition-property: fill, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
