.contacts-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  padding-block: 0px;
  margin-block: 0px;
  gap: 30px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  fill: var(--secondary-accent-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__icon--start {
  margin-right: 10px;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  fill: var(--hovered-activated-accent-color);
  color: var(--hovered-activated-accent-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
