.nav {
  display: flex;
  flex-grow: 0.8;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 46px;
  padding-left: 0px;
  padding-block: 0px;
  margin-block: 0px;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
  transition-property: color, background, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--hovered-activated-accent-color);
  fill: var(--hovered-activated-accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current:visited {
  color: var(--hovered-activated-accent-color);
  position: relative;
}
.nav__link--current::after {
  content: '';
  position: relative;
  display: block;
  top: 29px;
  border-bottom: 4px solid var(--hovered-activated-accent-color);
  border-radius: 2px;
}
